<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form id="weatherForm" action="/get_weather" method="POST">
            <label for="city">Enter City:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
        {% if action == "/get_weather" %}
        <div id="weatherResult">
            <h3>Location :</h3>{{data[0]}}
            <h3>Condition :</h3>{{data[1]}}
            <h3>Temperature :</h3>{{data[2]}}
        </div>
        {% else %}
            <h3>Location : NULL</h3>
            <h3>Condition : NULL</h3>
            <h3>Temperature : NULL</h3>
        {% endif %}
    

    </div>
</body>
</html>
